<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <div *ngFor="let food of foodList" class="mb-3">
        <app-simple-food [id]="food.id" [title]="food.title" [body]="food.body" [image]="food.image"
                         [vote]="food.vote" (removed)="onRemove($event)">

        </app-simple-food>
      </div>
    </div>
    <div class="col-6">
      <form ngNativeValidate (ngSubmit)="kirim()">
        <div class="form-group">
          <label for="judul">Judul</label>
          <input required type="text" class="form-control" id="judul" placeholder="Masukkan judul" [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="form-group">
          <label for="deskripsi">Deskripsi</label>
          <textarea required class="form-control" id="deskripsi" cols="30" rows="10"
                    [(ngModel)]="body" [ngModelOptions]="{standalone: true}">Masukkan deskripsi</textarea>
        </div>
        <div class="form-group">
          <label>Gambar</label>
          <input required type="text" class="form-control mb-1" placeholder="Masukkan url gambar pertama"
                 [(ngModel)]="image[0]" [ngModelOptions]="{standalone: true}">
          <input required type="text" class="form-control" placeholder="Masukkan url gambar kedua"
                 [(ngModel)]="image[1]" [ngModelOptions]="{standalone: true}">
        </div>
        <button type="submit" class="btn btn-primary">Kirim</button>
      </form>
    </div>
  </div>
</div>


